.item {
  display: flex;
  position: relative;
}
.item:not(:last-of-type) {
  padding-bottom: 40px;
}

.icon {
  flex: 1;
}
.iconWrap {
  padding: 10px;
  margin-top: 16px;
  background-color: #212121;
  border: 2px solid #FAFAFA;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.iconWrap path,
.iconWrap polygon {
  fill: #FAFAFA;
}

.description {
  flex: 2;
  padding: 24px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: 3px;
  position: relative;
}
.description::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -32px;
  border: 16px solid transparent;
  border-color: transparent;
  border-right-color: rgba(33, 33, 33, 0.8);
  height: 0;
  width: 0;
}
@media (min-width: 768px) {
  .description {
    flex: 3;
  }
}
@media (min-width: 1200px) {
  .description {
    flex: 4;
  }
}

.period {
  margin-top: 0;
}

.company {
  font-size: 1.5rem;
}
