.project {
  width: 100%;
  padding: 40px 0 0;
}
@media (min-width: 992px) {
  .project {
    padding: 40px 40px 0;
  }
}

.title {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.display {
  padding-top: 20px;
  position: relative;
}

.displayItemLg {
  display: none;
}
@media (min-width: 992px) {
  .displayItemLg {
    display: block;
    width: 66%;
  }
}

.displayItemMd {
  display: none;
}
@media (min-width: 768px) {
  .displayItemMd {
    display: block;
    width: 70%;
  }
}
@media (min-width: 992px) {
  .displayItemMd {
    width: 26%;
    position: absolute;
    bottom: 0;
    left: 63%;
  }
}

.displayItemSm {
  width: 100%;
}
@media (min-width: 768px) {
  .displayItemSm {
    width: 35%;
    position: absolute;
    left: 60%;
    bottom: 0;
  }
}
@media (min-width: 992px) {
  .displayItemSm {
    width: 14%;
    left: 86%;
  }
}

.displayView {
  position: relative;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}

.displayItemLg .displayView {
  padding-top: 30px;
  background-color: #F5F5F5;
  border-radius: 3px;
}
.displayItemLg .displayView::before {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #E0E0E0;
  box-shadow: 0 0 0 0 #E0E0E0, 0.938em 0 0 0 #E0E0E0, 1.875em 0 0 0 #E0E0E0;
  content: '';
}

.displayItemMd .displayView {
  padding: 40px 20px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
.displayItemMd .displayView::before {
  display: block;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #E0E0E0;
  content: '';
}
.displayItemMd .displayView::after {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 26px;
  height: 26px;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 1px solid #BDBDBD;
  background-color: #E0E0E0;
  content: '';
}

.displayItemSm .displayView {
  padding: 40px 10px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
.displayItemSm .displayView::before {
  display: block;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 20px;
  height: 3px;
  transform: translateX(-50%);
  border-radius: 0.125em;
  background-color: #E0E0E0;
  content: '';
}
.displayItemSm .displayView::after {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 26px;
  height: 26px;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 1px solid #BDBDBD;
  background-color: #E0E0E0;
  content: '';
}

.displayView img {
  width: 100%;
  max-width: 100%;
  border: 1px solid $color_diplay-button;
  border-bottom: 0;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .displayItemSm {
    max-width: 400px;
  }
}
