.nav {
  background-color:#514A9D;
  background:linear-gradient(to right, #514A9D, #24C6DC);
}

.header {
  flex: 1;
}

@media (max-width: 575px) {
  .header {
    width:100%;
  }
}

.brand {
  display:block;
  padding:8px 0;
}

.brand img {
  width:64px;
  height:64px;
  margin:0 auto;
}

@media (min-width: 768px) {
  .brand img {
    margin:0;
  }
}

@media (max-width: 575px) {
  .brand {
    text-align:center
  }
}

.navbar__nav {
  text-align:right;
  padding: 18px 0;
  margin: 0;
}

@media (max-width: 575px) {
  .navbar__nav {
    display:none;
  }
}

.item {
  display:inline-block;
}

.item a {
  color: #fff;
  display:block;
  padding: 8px 16px;
  margin:0 5px;
  text-transform:uppercase;
  text-decoration:none;
  border-radius: 5px;
}

.item a:hover {
  background-color:#514A9D;
  color: #fff;
}

@media (min-width: 576px) {
  .nav{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 100;
  }
}

.item :global .active {
  background-color: #514A9D;
  color: #fff;
}
